html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  min-height: 100%;
}

.bg-gradient-pink {
  background: linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1));
}

#content {
  width: 768px;
  margin: 0 auto;
  min-height: 100vh;
}
