html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  min-height: 100%;
}

.bg-gradient-pink {
  background: linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1));
}

#content-two-col {
  width: 768px;
  margin: 0 auto;
  min-height: 100vh;
}

#content-one-col {
  width: 384px;
  margin: 0 auto;
  min-height: 100vh;
}

.loader-overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  // z-index: 1000;
  background-color:rgba(0,0,0,0.5);
  top: 0;
  z-index: 1109;
}

.popup-spinner{
  margin-top: 15%;
  top: 0;
  // position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1110;
}

.loader {
  height: 4px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #FFF;
}

.loader:before {
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 4px;
  background-color: orange;
  animation: loading 2s linear infinite;
}

.mr-7 {
  margin-right: 7px;
}

.mr-2 {
  margin-right: 2px;
}
